@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('/path-to/TitilliumWeb-SemiBold.woff2') format('woff2'),
       url('/path-to/TitilliumWeb-SemiBold.woff') format('woff'),
       url('/path-to/TitilliumWeb-SemiBold.ttf')  format('truetype');
}

body {
  font-family: 'TitilliumWeb-SemiBold', sans-serif;
}
