@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('/path-to/OpenSans-SemiBold.woff2') format('woff2'),
       url('/path-to/OpenSans-SemiBold.woff') format('woff'),
       url('/path-to/OpenSans-SemiBold.ttf')  format('truetype');
}

body {
  font-family: 'OpenSans-SemiBold', sans-serif;
}
