/* For 1366 or Up to 1439 */

@media only screen and (max-width:1439px){
    .table-show1, .table-show2, .table-col-1, .table-col-2, .table-col-3, .table-col-4{
        display: none;
    }

}



/* For 1280 or Up to 1365 */

@media only screen and (max-width:1365px){
    .table-show1, .table-show2, .table-col-1, .table-col-2, .table-col-3, .table-col-4{
        display: none;
    }
}

/* For 1024 or Up to 1279 */
@media only screen and (max-width:1279px){
    .table-show1, .table-show2, .table-col-1, .table-col-2, .table-col-3, .table-col-4{
        display: none;
    }
}

@media screen and (max-width: 1100px){
    .table-show1, .table-show2, .table-col-1, .table-col-2, .table-col-3, .table-col-4{
        display: none;
    }
}

/* For 960 or Up to 1023 */

@media only screen and (max-width:1023px){
/* Header */
.logo a{
    font-size: 50px;
    padding-left: 50px;
  }
  nav ul{
    margin-right: 20px;
  }
  nav a{
    font-size: 10px;
  } 

  /* Main */
  .card-row{
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
  .card-column{
    margin-bottom: 25px;
  }
  .p-table, .table-col-1, .table-col-2, .table-col-3, .table-col-4{
    display: none;
  }
  .table-show1, .table-show2{
    display: table;
  }
  /* Sitemap */
  .left{
    margin-left: 45px;
  }

}


/* For 800 or Up to 959 */

@media only screen and (max-width:959px){
/* Header */
nav #icon{
    display: block;
  }
  
  nav ul{
    position: fixed;
    width: 100%;
    /* height: 100vh; */
    left: 0;
    text-align: center;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    background-color: #ffffff;
    padding: 0px;
  }	
  nav li{
    display: block;
    margin: 12px 0;
    line-height: 20px;
  }
  nav a{
    font-size: 10px;
  }
  nav ul.show{
    left: 0px;
  }
  .btn-sign{
    padding: 5px;
    margin-right: 21px;
  }
  .btn-log{
    padding: 5px 9px;
    margin-left: 19px;
  }
  .menu{
    margin-left: 18px;
  }
	

}


/* For 768 or Up to 799 */

@media only screen and (max-width:799px){

	

}



/*--------- For Tablet and Mobile Device -----------*/


/* For 640 or Up to 767 */

@media only screen and (max-width:767px){

	

}


/* For 540 or Up to 639 */

@media only screen and (max-width:639px){
/* Header */
  .logo a{
    font-size: 45px;
  }
  nav #icon{
    margin-top: 10px;
  }
  
/* Affordable */
.high{
    font-size: 30px;
}
.low{
    font-size: 30px;
}
.btn-try{
    font-size: 20px;
    padding: 2px 60px;
}
}



/* For 480 or Up to 539 */

@media only screen and (max-width:539px){
    /* Header */
    .logo a{
        font-size: 40px;
      }

    /* Main */
    .card-row{
        grid-template-columns: auto;
    }
    .p-table, .table-show1, .table-show2{
        display: none;
    }
    .table-col-1, .table-col-2, .table-col-3, .table-col-4{
        display: table;
    }

    /* Sitemap */
    .right,.left{
        float: none;
      }
      .s-bottom{
        margin-left: 45px;
      }
}


/* For 380 or Up to 479 */

@media only screen and (max-width:479px){
    /* Header */
    .logo a{
        font-size: 36px;
      }
      nav #icon{
        margin-top: 6px;
      }

    /* Affordable */
    .high{
        font-size: 28px;
    }
    .low{
        font-size: 24px;
    }
    .btn-try{
        font-size: 18px;

    }
}



/* For 360 or Up to 379 */

@media only screen and (max-width:379px){
    /* Header */
    .logo a{
        font-size: 36px;
      }
	
    /* Footer */
    .footer p{
        font-size: 12px;
    }

}



/* For 320 or Up to 359 */

@media only screen and (max-width:359px){
    /* Header */
    .logo a{
        font-size: 34px;
      }
      nav #icon{
        margin-top: 5px;
      }

    /* Main */
    .table-col-1 .col-n{
        width: 130px;
    }
    .table-col-2 .col-n{
        width: 130px;
    }
    .table-col-3 .col-n{
        width: 130px;
    }
    .table-col-4 .col-n{
        width: 130px;
    }

    /* Sitemap */
    .high{
        font-size: 25px;
    }
    .low{
        font-size: 20px;
    }
    .btn-try{
        font-size: 16px;
        padding: 2px 45px;
    }

    /* Footer */
    .footer p{
        font-size: 11px;
    }
}