@font-face {
    font-family: 'Hughs';
    src: url('../fonts/Hughs.woff2') format('woff2'),
         /* url('../fonts/Hughs.woff') format('woff'),
         url('../fonts/Hughs.ttf')  format('truetype'); */
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2')
         /* url('../fonts/OpenSans-Regular.woff') format('woff'), */
         /* url('../fonts/OpenSans-Regular.ttf')  format('truetype'); */
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
         url('../fonts/OpenSans-Light.woff') format('woff'),
         url('../fonts/OpenSans-Light.ttf')  format('truetype');
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
         url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold.ttf')  format('truetype');
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
         url('../fonts/OpenSans-SemiBold.woff') format('woff'),
         url('../fonts/OpenSans-SemiBold.ttf')  format('truetype');
}
body{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 980px;
    margin: 0 auto;
    overflow: auto;
    max-width: 100%;
}
.main{
    margin-top: 25px;
    margin-bottom: 2px;
}
.logo a{
    text-decoration: none;
    font-size: 54px;
    font-family: 'Hughs';
    color: #000000;
}
nav ul{
    float: right;
    margin-top: 30px;
  }
  nav li{
    display: inline;
  }
  nav #icon{
    font-size: 30px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-top: 15px;
  }
.menu{
    text-decoration: none;
    color: #000000;
    font-family: 'OpenSans-Bold';
    font-size: 13.5px;
    margin-left: 20px;
}
.menu-item{
    text-decoration: none;
    color: #000000;
    font-family: 'OpenSans-Regular';
    font-size: 13.5px;
    margin-left: 20px;
}
.btn-sign{
    background-color: #244752;
    font-family:'OpenSans-Bold';
    color: #ffffff;
    font-size: 13.5px;
    border: none;
    text-decoration: none;
    padding: 8px;
    margin-left: 40px;
    margin-right: 5px;
}
.btn-log{
    background-color: #00b3ab;
    font-family:'OpenSans-Bold';
    color: #000000;
    font-size: 13.5px;
    border: none;
    padding: 8px;
    text-decoration: none;
}

/* Affordable Legal Drafts */

.affor{
    padding-top: 38px;
    background-color: #00b3ab;
    text-align: center;
}
.high{
    font-family: 'OpenSans-Bold';
    font-size: 36.01px;
    color: #ffffff;
    padding-bottom: 12px;
    margin: 0px;
}
.low{
    font-family: 'OpenSans-Regular';
    font-size: 36.01px;
    margin: 0px;
    margin-bottom: 12px;
}
.btn-try{
    font-family: 'OpenSans-Regular';
    font-size: 22.51px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding: 2px 70px;
    border-radius: 6px;
    text-decoration: none;
}
.m-bottom{
    margin-bottom: 40px;
}

/* Sitemap */

.sitemap{
    background-color: #000000;
    overflow: auto;
}
.left{
    float: left;
    color: #ffffff;
    padding-top: 35px;
}
.right{
    float: right;
    color: #ffffff; 
    padding-top: 35px;
}
.left p{
    font-size: 18px;
    font-family: 'OpenSans-Bold';
}
.right p{
    font-size: 18px;
    font-family: 'OpenSans-Bold';
}
.s-right{
    padding-top: 15px;
    padding-right: 50px;
}
.s-bottom{
    padding-bottom: 46px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid span a{
    font-family:'OpenSans-Regular' ;
    font-size: 13.5px;
    color: #ffffff;
    padding-right: 25px;
    text-decoration: none;
}
.m-space{
    padding-bottom: 10px;
}

/* Footer */

.footer{
    text-align: center;
}
.footer p{
    font-family: 'OpenSans-Regular';
    font-size: 13.5px;
    background-color: #ffffff;
    padding: 28px;
    margin: 0px;
}
.footer a{
    text-decoration: none;
    color: #000000;
}

/* Main */
.bg-main{
    background-color: #00b3ab;
    height: 92px;
}
.cost{
    font-family: 'Hughs';
    font-size: 36.01px;
    color: #244752;
    margin: 0px; 
    text-align: center; 
    margin-bottom: 30px;
}
.bg-color{
    background-color: #d3f1ec;
    padding-top: 27px;
}
.card-row{
    justify-content: space-between;
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.card-column{
    width: 210px;
}
.card{
  background-color: #ffffff;
  text-align: center;
}
.card-heading{
    font-family: 'OpenSans-Bold';
    font-size: 36.01px;
    color: #444444;
    margin: 0px;
    padding-top: 18px;
}
.hr{
    width: 70%;
    margin-top: 0px;
    text-align: center;
}
.card-price{
    font-family: 'OpenSans-Regular' ;
    font-size: 22.51px;
    color: #244752;
    margin: 0px;
}
.card-detail{
    font-family: 'OpenSans-Regular';
    font-size: 13.51;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 35px;
}
.card{
    padding-bottom: 30px;
}
.card a{
    text-decoration: none;
    font-family: 'OpenSans-Bold';
    background-color: #244752;
    color: #ffffff;
    font-size: 13.51px;
    padding: 8px 18px;
    border-radius: 2px;
}
.card a::before{
    content: "\f07a";
    font-family: FontAwesome;
    padding-right: 10px;
    font-size: 10px;
    color: #ffffff;
    vertical-align: middle;
}
.p-table tr td{
    font-family: 'OpenSans-Regular';
    font-size: 13.51px;
    text-align: center;
    /* padding: 15px 0; */
    border-right: 1px solid #c2c2c2;
    height: 40px;
}
.p-table tr th{
    border-right: 1px solid #c2c2c2;
    height: 40px;
}
.p-table tr td:last-child{
    border-right: none;
}
.p-table tr th:last-child{
    border-right: none;
}
.p-table{
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #ffffff;
    margin-bottom: 55px;
}
.p-table tr:nth-child(even) {
    background-color: #efefef;
}
.col-n{
    width: 160px;
}
.col-b{
    width: 110px;
    font-size: 18.01px;
    font-family: 'OpenSans-Bold';
}
.col-p{
    width: 140px;
    font-size: 18.01px;
    font-family: 'OpenSans-Bold';
}
.col-c{
    width: 140px;
    font-size: 18.01px;
    font-family: 'OpenSans-Bold';
}
.col-f{
    width: 135px;
    font-size: 18.01px;
    font-family: 'OpenSans-Bold';
}


  
  