/* For 1366 or Up to 1439 */

@media only screen and (max-width:1439px){
  /* Browse By Category */
  .content{
    margin-left: 40px;
  }

}


/* For 1280 or Up to 1365 */

@media only screen and (max-width:1365px){

}

/* For 1024 or Up to 1279 */
@media only screen and (max-width:1279px){

}

@media screen and (max-width: 1100px){


}

/* For 960 or Up to 1023 */

@media only screen and (max-width:1023px){
/* Header */
  .logo a{
    font-size: 50px;
    padding-left: 50px;
  }
  nav ul{
    margin-right: 20px;
  }
  nav a{
    font-size: 10px;
  } 

  /* About Legal Drafts */
  .s-about{
    margin-right: 30px;
    font-size: 12.5px;
    margin-left: 30px;
  }

  /* Browse By Category */
  .content{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 150px;
  }

  /* Sitemap */
  .left{
    margin-left: 45px;
  }
}


/* For 800 or Up to 959 */

@media only screen and (max-width:959px){
  /* Header */
  nav #icon{
    display: block;
  }
  
  nav ul{
    position: fixed;
    width: 100%;
    /* height: 100vh; */
    left: 0;
    text-align: center;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    background-color: #ffffff;
    padding: 0px;
  }	
  nav li{
    display: block;
    margin: 12px 0;
    line-height: 20px;
  }
  nav a{
    font-size: 10px;
  }
  nav ul.show{
    left: 0px;
  }
  .btn-sign{
    padding: 5px;
    margin-right: 21px;
  }
  .btn-log{
    padding: 5px 9px;
    margin-left: 19px;
  }
  .menu{
    margin-left: 18px;
  }

  /* Online Petition */
  .style{
    font-size: 40px;
    padding-top: 95px;
  }
  .inline{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .m-form{
    width:525px ;
  }
  .text{
    width: 400px;
  }
  .b-format{
    font-size: 32px;
  }
  .a-to-z li a{
    font-size: 23px;
  }
  ul.a-to-z{
    text-align: unset;
    padding-bottom: 50px;
  }

  /* About Legal Drafts */
  .s-about{
    margin-right: 30px;
    font-size: 12.5px;
    margin-left: 30px;
  }
  .slide-content blockquote::before{
    font-size: 45px;
    left: 25px;
  }
  .slide-content blockquote::after{
    font-size: 45px;
    right: 25px;
  }
  .slide-content blockquote{
    font-size: 20px;
  }

  /* Browse By Category */
  .content{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 100px;
  }

  /* Sitemap */
  .left{
    margin-left: 45px;
  }

}


/* For 768 or Up to 799 */

@media only screen and (max-width:799px){
  

}



/*--------- For Tablet and Mobile Device -----------*/


/* For 640 or Up to 767 */

@media only screen and (max-width:767px){
/* Online Petition */
  ul.a-to-z{
  text-align: center;
  line-height: 35px;
}

/* Browse By Category */
.content{
  margin-left: 50px;
}

}


/* For 540 or Up to 639 */

@media only screen and (max-width:639px){

  /* Header */
  .logo a{
    font-size: 45px;
  }
  nav #icon{
    margin-top: 10px;
  }
  /* online Petition */
  .style{
    font-size: 30px;
    padding-top: 90px;
  }
  .inline{
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .m-form{
    width:400px ;
  }
  .text{
    width: 310px;
  }
  .btn-search{
    width: 85px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 9px;
  }
  .btn-search i{
    padding-right: 3px;
    font-size: 15px; 
}
  .b-format{
    font-size: 25px;
  }
  .a-to-z li a{
    font-size: 20px;
    padding-right: 10px;
  }
  ul.a-to-z{
    padding-bottom: 40px;
    margin-right: 30px;
  }

  /* About Legal Drafts */
  .h-about{
    font-size: 38px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .s-about{
    padding-bottom: 40px;
  }
  .slide-content blockquote::before{
    font-size: 36px;
    left: 22px;
  }
  .slide-content blockquote::after{
    font-size: 36px;
    right: 22px;
  }
  .slide-content blockquote{
    font-size: 18px;
  }

  /* Browse By Category */
  .browse{
    padding-top: 30px;
    font-size: 38px;
  }
  .content{
  margin-left: 30px;
  }

  /* Affordable Legal Drafts */
  .high{
    font-size: 40px;
  }
  .low{
    font-size: 32px;
  }
  .btn-try{
    font-size: 22px;
    padding: 2px 60px;
  }
  
}


/* For 480 or Up to 539 */

@media only screen and (max-width:539px){
  /* Header */
  .logo a{
    font-size: 40px;
  }

  /* Online Petition */
  .inline{
    font-size: 24px;
  }
  .inline li{
    padding-right: 10px;
  }
  .m-form{
    width:350px ;
  }
  .text{
    width: 260px;
  }
  .btn-search{
    width: 85px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn-search i{
    padding-right: 3px;
    font-size: 15px; 
  }

  /* Browse By Category */
  .content{
    grid-template-columns: auto;
    margin-left: 125px;
  }
  /* Affordable Legal Drafts */
  .high{
    font-size: 38px;
  }
  .low{
    font-size: 28px;
  }
  .btn-try{
    font-size: 20px;
    padding: 2px 50px;
  }

  /* Sitemap */
  .right,.left{
    float: none;
  }
  .s-bottom{
    margin-left: 45px;
  }

}


/* For 380 or Up to 479 */

@media only screen and (max-width:479px){
  /* Header */
  nav #icon{
    display: block;
  }
  .logo a{
    font-size: 36px;
  }
  nav ul{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    background-color: #ffffff;
    padding: 0px;
  }	
  nav li{
    display: block;
    margin: 12px 0;
    line-height: 20px;
  }
  nav a{
    font-size: 10px;
  }
  nav ul.show{
    left: 0px;
  }
  .btn-sign{
    padding: 5px;
    margin-right: 21px;
  }
  .btn-log{
    padding: 5px 9px;
    margin-left: 19px;
  }
  .menu{
    margin-left: 18px;
  }
  nav #icon{
    margin-top: 8px;
  }

  /* Online Petition */
  .style{
    font-size: 26px;
    padding-top: 60px;
  }
  .inline{
    font-size: 22px;
    padding-right: 80px;
    margin-left: 30px;
  }
  .m-form{
    width:300px ;
  }
  .text{
    width: 210px;
  }
  .btn-search{
    width: 85px;
  }

  /* About Legal Drafts */
  .h-about{
    font-size: 35px;
    padding-top: 35px;
    padding-bottom: 30px;
  }
  .slide-content blockquote::before{
    font-size: 34px;
    left: 20px;
  }
  .slide-content blockquote::after{
    font-size: 34px;
    right: 20px;
  }
  .slide-content blockquote{
    font-size: 18px;
  }

  /* Browse By Category */
  .browse{
    font-size: 35px;
  }
  .content{
    margin-left: 70px;
  }
  .content h2{
    font-size: 20px;
  }

  /* Affordable */
  .high{
    font-size: 35px;
  }
  .low{
    font-size: 25px;
  }
  .btn-try{
    font-size: 18px;
  }
}



/* For 360 or Up to 379 */

@media only screen and (max-width:379px){
  /* Header */
  nav #icon{
    display: block;
  }
  .logo a{
    font-size: 36px;
  }
  nav ul{
    position: absolute;
    width: 100%;
    /* height: 100vh; */
    left: 0;
    text-align: center;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    background-color: #ffffff;
    padding: 0px;
  }	
  nav li{
    display: block;
    margin: 12px 0;
    line-height: 20px;
  }
  nav a{
    font-size: 10px;
  }
  nav ul.show{
    left: 0px;
  }
  .btn-sign{
    padding: 5px;
    margin-right: 21px;
  }
  .btn-log{
    padding: 5px 9px;
    margin-left: 19px;
  }
  .menu{
    margin-left: 18px;
  }
  nav #icon{
    margin-top: 8px;
  }
}


/* For 320 or Up to 359 */

@media only screen and (max-width:359px){
  /* Header */
  nav #icon{
    display: block;
  }
  .logo a{
    font-size: 36px;
  }
  nav ul{
    position: absolute;
    width: 100%;
    /* height: 100vh; */
    left: 0;
    text-align: center;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    background-color: #ffffff;
    padding: 0px;
  }	
  nav li{
    display: block;
    margin: 12px 0;
    line-height: 20px;
  }
  nav a{
    font-size: 10px;
  }
  nav ul.show{
    left: 0px;
  }
  .btn-sign{
    padding: 5px;
    margin-right: 21px;
  }
  .btn-log{
    padding: 5px 9px;
    margin-left: 19px;
  }
  .menu{
    margin-left: 18px;
  }
  nav #icon{
    margin-top: 8px;
  }

  /* Online Petition */
  .inline{
    padding-right: 70px;
  }
  .m-form{
    width:260px ;
  }
  .text{
    width: 170px;
  }
  .btn-search{
    width: 85px;
  }

  /* Browse By Category */
  .content{
    margin-left: 45px;
  }

  /* Affordable Legal Drafts */
  .high{
    font-size: 32px;
  }
  .low{
    font-size: 21px;
  }

  /* Footer */
  .footer p{
    font-size: 11px;
  }
}
