/* For 1366 or Up to 1439 */

@media only screen and (max-width:1439px){

}



/* For 1280 or Up to 1365 */

@media only screen and (max-width:1365px){
  
  
    /* Slider */
    .img-up{
      top: 180px;
      width: 550px;
    }
    .gem{
      padding-top: 30px;
      padding-left: 60px;
    }
    .machen{
      padding-left: 60px;
      font-size: 40px;
    }
    .unsere{
      padding-left: 60px;
      padding-bottom: 50px;
    }
  
  /* Simply */
  .simply-con{
    padding-top: 5px;
  }
  .simply-para{
    padding-top: 10px;
  }

  /* Strenghts */
  .con-uber{
    margin-top: 20px;
  } */
}

/* For 1024 or Up to 1279 */
@media only screen and (max-width:1279px){

  /* Header */
  .header label{
    display: block;
  }
  .header .navigation{
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    background-color: #1C1C1C;
    display: none;
    z-index: 1;
    margin-left: -70px;
  }
  .header .navigation ul li{
    width: 100%;
  }
  .header .navigation ul li a{
    padding: 8px 30px 8px 10% ;
    color: #FFF;
  }
  .header .navigation ul li ul{
    position: relative;
    left: 0;
  }
  #toggle:checked~ .navigation{
    display: block;
  }
  .search-icon, .toggle-icon{
    display: none;
  }

  /* Slider */
  .img-up{
    top: 120px;
    right: 250px;
    background-color: #000;
    opacity: .7;
    width: 450px;
  }
  .gem{
    padding-top: 20px;
    padding-left: 50px;
  }
  .machen{
    padding-left: 50px;
    font-size: 34px;
  }
  .unsere{
    padding-left: 50px;
    padding-bottom: 30px;
  }

  /* Simply */
  .simply-con, .simply-edit, .simply-dots, .simply-para{
      padding-top: 0px;
      padding-left: 20px;
  }
  .simply-edit{
      font-size: 35px;
  }
  .simply-para{
      font-size: 16px;
      padding-top: 5px;
      line-height: 23px;
      padding-bottom: 15px;
  }
  .btn-to a{
      padding: 12px;
  }

  /* Counter */
  .counter-grid{
    grid-template-columns: auto auto auto;
  }
  .counter-even{
    margin-top: 40px;
  }

  /* Strengths */
  .s-content{
    display: block;
  }
  .s-part-left, .s-part-right{
    width: 100%;
    margin-bottom: 50px;
  }
  .con-uber, .con-das, .con-dot{
    margin-left: 85px;
  }
  .progress p{
    margin-left: 85px;
  }

  /* Our Projects */
  .img-hover{
    width: 200px;
  }
  .con-ste{
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  .con-bau{
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 1100px){


}

/* For 960 or Up to 1023 */

@media only screen and (max-width:1023px){
/* Simply */
.simply-col{
  display: block;
  margin-bottom: 50px;
}	
.simply{
  width: 100%;
}
.btn-to a{
  margin-left: 22px;
}

/* Footer */
.footer-top p{
  font-size: 16px;
}
.f-location, .f-content, .f-mail{
  font-size: 16px;
}
}


/* For 800 or Up to 959 */

@media only screen and (max-width:959px){
  /* Slider */
  .img-up{
    top: 120px;
    width: 445px;
    right: 150px;
  }
  .gem{
    font-size: 12px;
    padding-left: 10px;
  }
  .machen{
    padding-left: 12px;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 0px;
    line-height: 32px;
  }
  .unsere{
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
  }

  /* Our Projects */
  .our-f-left{
    float: none;
    width: 100%;
  }
  .our-f-right{
    float: none;
    width: 100%;
  }
  .f-left{
    float: none;
    width: 100%;
  }
  .f-right{
    float: none;
    width: 100%;
  }
  .img-hover{
    width: 340px;
    padding-bottom: 20px;
  }

  /* Footer */
  .footer{
    grid-template-columns: auto auto;
  }
  .footer-top{
    padding-bottom: 0px;
  }
  .d-flex{
    display: block;
  }
  .bottom-con{
    padding-top: 10px;
  }
  .footer-kon{
    padding-top: 30px;
  }
}


/* For 768 or Up to 799 */

@media only screen and (max-width:799px){

  /* Counter */
  .counter-grid{
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
	

}



/*--------- For Tablet and Mobile Device -----------*/


/* For 640 or Up to 767 */

@media only screen and (max-width:767px){
  /* Header */
  .top-header-content .phone, .envelope{
    font-size: 16px;
  }
  
  /* Slider */
	button.slick-next.slick-arrow{
    height: 60px;
  }
  button.slick-prev.slick-arrow{
    height: 60px;
  }
  .img-up{
    top: 90px;
    right: 120px;
  }

  /* Strengths */
  .con-uber, .con-das, .con-dot{
    margin-left: 60px;
    line-height: 18px;
  }
  .progress p{
    margin-left: 60px;
  }
}


/* For 540 or Up to 639 */

@media only screen and (max-width:639px){
  /* Slider */
  ul.slick-dots{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
  }
  .slick-dots li button{
    font-size: 0;
    background-color: gray;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    color: transparent;
  }
  .slick-dots li.slick-active button{
    background-color:#000000;
  }
  .img-up{
    top: 45px;
    right: 45px;
    width: 420px;
    text-align: center;
  }
.f-location::before{
    padding-right: 5px;
}
.f-contact::before{
    padding-right: 5px;
}
.f-mail::before{
    padding-right: 5px;
}
.footer-kon{
  padding-top: 30px;
}
.machen{
  line-height: 30px;
}
}



/* For 480 or Up to 539 */

@media only screen and (max-width:539px){
  /* Slider */
  .img-up{
    top: 80px;
    left: 20px;
    width: 430px;
  }
  .gem{
    font-size: 10px;
    padding-top: 8px;
  }
  .machen{
    font-size: 26px;
    padding: 0;
    margin: 0;
  }
  .unsere{
    font-size: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  /* Simply */
  .img-grid{
    grid-template-columns: auto;
    row-gap: 20px;
  }

  /* Counter */
  .counter-grid{
    grid-template-columns: auto;
  }

  /* Our Projects */
  .our-d-flex-1, .d-flex-1{
    display: block;
  }
  .our-img1-1, .our-img1-2, .our-img2-1, .our-img2-2{
    width: 100%;
    margin-bottom: 15px;
  }

  /* Footer */
  .footer{
    grid-template-columns: auto;
    justify-content: space-around;
  }
}


/* For 380 or Up to 479 */

@media only screen and (max-width:479px){
  /* Header */
  .top-header-content .phone, .envelope{
    font-size: 13px;
  }
  .phone::before{
    font-size: 13px;
  }
	.envelope::before{
    font-size: 13px;
  }

  /* Slider */
  .img-up{
    top: 40px;
    left: 20px;
    width: 300px;
  }
  .gem{
    font-size: 10px;
    padding-top: 10px;
  }
  .machen{
    font-size: 14px;
    padding: 0;
    margin: 0;
    line-height: 18px;
  }
  .unsere{
    font-size: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
  }

  /* Strenghts */
  .progress p{
    margin-left: 0px;
    font-size: 14px;
  }
  .progress-bar{
    width: 100%;
  }
  .con-uber{
    margin-left: 0px;
    font-size: 14px;
  }
  .con-das{
    margin-left: 0px;
    font-size: 30px;
  }
  .con-dot{
    margin-left: 0px;
    font-size: 14px;
  }
}



/* For 360 or Up to 379 */

@media only screen and (max-width:379px){
  /* Strengths */
  .progress p{
    font-size: 11px;
  }
	
}



/* For 320 or Up to 359 */

@media only screen and (max-width:359px){
  
  /* Header */
  .top-header-content .phone, .envelope{
    font-size: 11px;
  }
  .phone::before{
    font-size: 11px;
  }
	.envelope::before{
    font-size: 11px;
  }

  /* Slider */
  .img-up{
    top: 25px;
    left: 20px;
    width: 250px;
  }
  .gem{
    font-size: 10px;
    padding-top: 10px;
  }
  .machen{
    font-size: 12px;
    padding: 0;
    margin: 0;
    line-height: 18px;
  }
  .unsere{
    font-size: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
  }
  
  /* Our Projects */
  .our-project{
    font-size: 35px;
  }
	
  /* Strengths */
  .con-uber{
    font-size: 13px;
    padding-bottom: 10px;
  }
  .con-das{
    font-size: 28px;
    padding-bottom: 10px;
  }
}